__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Arquivos de distribuição
Python
build/
dist/
*.egg-info/
eggs/

# Logs e relatórios de cobertura
*.log
coverage
coverage.*
cache
nosetests.xml
coverage.xml

# Ambientes virtuais
env/
.venv/
ENV/
env/
venv/